<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <!--  <link href="/templateAdmin/css/styles.css" rel="stylesheet" />-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/templateAdmin/css/styles.css">
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                   aria-describedby="btnNavbarSearch"/>
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        ADMIN
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                       aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Layouts
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Static Navigation</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                       aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Pages
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                               aria-controls="pagesCollapseAuth">
                                Authentication
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="login.html">Login</a>
                                    <a class="nav-link" href="register.html">Register</a>
                                    <a class="nav-link" href="password.html">Forgot Password</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#pagesCollapseError" aria-expanded="false"
                               aria-controls="pagesCollapseError">
                                Error
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Start Bootstrap
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">ADMIN</h1>
                <ol class="breadcrumb mb-4">
                </ol>

                <!--Customer-->
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Customer</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <button onclick="showCustomer()">View Details</button>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Product</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <button onclick="showProduct()">View Details</button>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Revenue</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <button onclick="showRevenue()">View Details</button>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Order</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <button onclick="showOrder()">View Details</button>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">

                        <!--table-->
                        <div id="userList">
                        <div  class="btn btn-primary">
                        <button onclick=" showForm()" class="btn btn-primary">Add New User</button>
                        <span class="iconify" data-icon="ion-person-add" data-inline="false"></span>
                        </div>
                        <table  class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Account</th>
                                <th>Address</th>
                                <th>Avatar</th>
                                <th>Email</th>
                                <th>PhoneNumber</th>
                                <th>UserName</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th>View</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="user :${user}">
                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.account}"></td>
                                    <td th:text="${user.address}"></td>
                                    <td th:text="${user.avatar}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.phoneNumber}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td>
                                        <button type="submit" onclick="editUser(this.id)" th:id="${user.id}"
                                                class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalView">Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="submit" onclick="deleteUser(this.id)" th:id="${user.id}"
                                                class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalView">Delete
                                        </button>
                                    </td>
                                    <td>
                                        <button type="submit" onclick="viewUser(this.id)" th:id="${user.id}"
                                                class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#exampleModalView">View
                                        </button>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        </div>
                      <!-- table  -->






                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/../templateAdmin/assets/demo/chart-area-demo.js"></script>
<script src="/../templateAdmin/assets/demo/chart-bar-demo.js"></script>
<script src="/../templateAdmin/assets/demo/chart-pie-demo.js"></script>
<script src="/../templateAdmin/assets/demo/datatables-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="/../templateAdmin/js/datatables-simple-demo.js"></script>
<script src="/../templateAdmin/js/scripts.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    function showForm(){
        let formCreate = '  <form>\n' +
            '                            <div class="mb-3">\n' +
            '                                <label for="accountUser" class="form-label">Account</label>\n' +
            '                                <input type="email" class="form-control" id="accountUser" placeholder=AccountUser>\n' +
            '                            </div>\n' +
            '                            <div class="mb-3">\n' +
            '                                <label for="addressUser" class="form-label">Address</label>\n' +
            '                                <input type="email" class="form-control" id="addressUser" placeholder="AddressUser">\n' +
            '                            </div>\n' +
            '                            <div class="mb-3">\n' +
            '                                <label for="avatarUser" class="form-label">Avatar</label>\n' +
            '                                <input type="email" class="form-control" id="avatarUser" placeholder="AvatarUser">\n' +
            '                            </div>\n' +
            '                            <div class="mb-3">\n' +
            '                                <label for="emailUser" class="form-label">email</label>\n' +
            '                                <input type="email" class="form-control" id="emailUser" placeholder="EmailUser">\n' +
            '                            </div>\n' +
            '                            <div class="mb-3">\n' +
            '                                <label for="phoneUser" class="form-label">PhoneNumber</label>\n' +
            '                                <input type="email" class="form-control" id="phoneUser" placeholder="PhoneUser">\n' +
            '                            </div>\n' +
            '                            <div class="mb-3">\n' +
            '                                <label for="usernameUser" class="form-label">userName</label>\n' +
            '                                <input type="email" class="form-control" id="usernameUser" placeholder="UserNameUser">\n' +
            '                            </div>\n' +
            '                            <div class="form-floating" style="margin: 30px 0 30px 0">\n' +
            '                                <button type="submit" onclick="addNewUser()" class="btn btn-primary">submit</button>\n' +
            '                            </div>\n' +
            '                        </form>'
        document.getElementById('userList').innerHTML=formCreate

    }
    function addNewUser() {
        let account = $('#accountUser').val();
        let address = $('#addressUser').val();
        let avatar = $('#avatarUser').val();
        let email = $('#emailUser').val();
        let phone = $('#phoneUser').val();
        let username = $('#usernameUser').val();
        let user = {
            account: account,
            address: address,
            avatar: avatar,
            email: email,
            phoneNumber: phone,
            username: username,
        };
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(user),
            url: "/admin",
            success: function () {
                console.log("add success");
                showList();
            }
        });
        event.preventDefault();
    }
    function showList(){
        $.ajax({
            type: "get",
            url: "/admin",
            success:function (data){
                let content ='<tr>\n'+
                    '<th>Id</th>\n'+
                    '<th>Account</th>\n'+
                    '<th>Address</th>\n'+
                    '<th>Avatar</th>\n'+
                    '<th>Email</th>\n'+
                    ',<th>phoneNumber</th>\n'+
                    '<th>userName</th>\n'+
                    '</tr>';
                for (let i=0;i=data.length;i++){
                    content+=getUser(data[i]);
                }
                document.getElementById('userList').innerHTML=content;
            }
        })

    }
    function getUser(user){
        return ' <tr>\n' +
            '                                    <td th:text="${user.id}"></td>\n' +
            '                                    <td th:text="${user.account}"></td>\n' +
            '                                    <td th:text="${user.address}"></td>\n' +
            '                                    <td th:text="${user.avatar}"></td>\n' +
            '                                    <td th:text="${user.email}"></td>\n' +
            '                                    <td th:text="${user.phoneNumber}"></td>\n' +
            '                                    <td th:text="${user.username}"></td>\n' +
            '                                    <td>\n' +
            '                                        <button type="submit" onclick="editUser(this.id)" th:id="${user.id}"\n' +
            '                                                class="btn btn-primary" data-bs-toggle="modal"\n' +
            '                                                data-bs-target="#exampleModalView">Edit\n' +
            '                                        </button>\n' +
            '                                    </td>\n' +
            '                                    <td>\n' +
            '                                        <button type="submit" onclick="deleteUser(this.id)" th:id="${user.id}"\n' +
            '                                                class="btn btn-warning" data-bs-toggle="modal"\n' +
            '                                                data-bs-target="#exampleModalView">Delete\n' +
            '                                        </button>\n' +
            '                                    </td>\n' +
            '                                    <td>\n' +
            '                                        <button type="submit" onclick="viewUser(this.id)" th:id="${user.id}"\n' +
            '                                                class="btn btn-danger" data-bs-toggle="modal"\n' +
            '                                                data-bs-target="#exampleModalView">View\n' +
            '                                        </button>\n' +
            '                                    </td>\n' +
            '                                </tr> ';

    }
</script>
</body>
</html>
