<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopee</title>
  <link href="" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/../fontawesome-free-5.15.3-web/css/all.css">
  <link rel="stylesheet" href="/../css/base.css">
  <link rel="stylesheet" href="/../css/main.css">
  <link rel="stylesheet" href="/../css/grid.css">
  <link rel="stylesheet" href="/../css/responsive.css">
</head>
<body>
 <div class="modal">

   <div class="modal__overlay">
   </div>
   <div class="modal__body">

<!-- Register form-->
 <div class="auth-form">

           <div class="auth-form__container">

               <div class="auth-form__header">
                   <h3 class="auth-form__heading">Đăng kí</h3>
                   <span class="auth-form__switch-btn">Đăng nhập</span>
               </div>

               <div class="auth-form__form">

                   <div class="auth-form__group">
                       <input type="text" class="auth-form__input" placeholder="Email của bạn">
                   </div>

                   <div class="auth-form__group">
                       <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                   </div>

                   <div class="auth-form__group">
                       <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu">
                   </div>

               </div>

               <div class="auth__form__aside">
                   <p class="auth__form-policy-text">Bằng việc đăng kí, bạn đã đồng ý với Phượt Đê về
                       <a href="#" class="auth__form-text-link">Điều khoản dịch vụ</a> &
                       <a href="#" class="auth__form-text-link">Chính sách bảo mật</a>
                   </p>
               </div>

               <div class="auth__form-controls">
                   <button class="btn btn--normal auth__form-controls-back">TRỞ LẠI</button>
                   <button class="btn btn--primary">ĐĂNG KÍ</button>
               </div>

           </div>

           <div class="auth__form-socials">
               <a href="" class="auth__form-socials-icon--fb btn btn--size-s btn--with-icon">
                   <i class="auth__form-socials-icon fab fa-facebook-square"></i>
                   <span class="auth-form__socials-label">Kết nối với Facebook</span>
               </a>
               <a href="" class="auth__form-socials-icon--gg btn btn--size-s btn--with-icon">
                   <i class="auth__form-socials-icon fab fa-google"></i>
                   <span class="auth-form__socials-label">Kết nối với Google</span>
               </a>
           </div>

       </div>

<!-- Login form-->
 <div class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng nhập</h3>
                    <span class="auth-form__switch-btn">Đăng kí</span>
                </div>

                <div class="auth-form__form">

                    <div class="auth-form__group">
                        <input type="text" class="auth-form__input" placeholder="Email của bạn">
                    </div>

                    <div class="auth-form__group">
                        <input type="password" class="auth-form__input" placeholder="Mật khẩu của bạn">
                    </div>

                </div>

                <div class="auth__form__aside">
                    <div class="auth-form__help">
                        <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                        <span class="auth-form__help-separate"></span>
                        <a href="" class="auth-form__help-link">Cần trợ giúp</a>
                    </div>
                </div>

                <div class="auth__form-controls">
                    <button class="btn btn--normal auth__form-controls-back">TRỞ LẠI</button>
                    <button class="btn btn--primary">ĐĂNG NHẬP</button>
                </div>

            </div>

            <div class="auth__form-socials">
                <a href="" class="auth__form-socials-icon--fb btn btn--size-s btn--with-icon">
                    <i class="auth__form-socials-icon fab fa-facebook-square"></i>
                    <span class="auth-form__socials-label">Kết nối với Facebook</span>
                </a>
                <a href="" class="auth__form-socials-icon--gg btn btn--size-s btn--with-icon">
                    <i class="auth__form-socials-icon fab fa-google"></i>
                    <span class="auth-form__socials-label">Kết nối với Google</span>
                </a>
            </div>

        </div>
</body>
</html>